:root {
  --clr-text-accent: #192252;
  --clr-button-font: #FFF;
  --clr-button-fill: #0E1734;
  --clr-paragraph: #848FAC;
  --clr-circle-white: #FFF;
  --clr-circle-orange: #FAB047;
  --clr-read-more-link: #424F7B;
  --clr-footer-background: #0B265A;
  --clr-footer-text: #D9DBDE;
  --clr-footer-heading: #FFF;
}

.header {
  display: flex;
  align-items: center;
  margin: 41px 120px 32px;
}

.content-section {
  padding: 80px 120px;
}

.header__logo {
  width: 233px;
  margin: 8px 0 0 0;
}

.header__nav {
  margin: 0 auto;
}

.header__nav-list {
  display: flex;
  gap: 36px;
  list-style: none;
}

.header-link {
  color: var(--clr-text-accent);
  font-weight: 500;
  text-decoration: none;
}

.header-link:hover {
  border-radius: 4px;
  outline: 2px solid var(--clr-button-fill);
  outline-offset: 4px;
}

.button {
  width: fit-content;
  border: 2px solid var(--clr-button-fill);
  border-radius: 4px;
  color: var(--clr-button-font);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--clr-button-fill);
}

.button:hover {
  color: var(--clr-button-fill);
  background-color: var(--clr-button-font);
}

.button-slim {
  padding: 12px 15px;
}

.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}

.cover__text-area {
  padding: 135px 0 0;
}

.cover__title {
  padding: 0 0 23px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: -0.48px;
}

.cover__text {
  padding: 0 100px 59px 0;
}

.paragraph-text {
  color: var(--clr-paragraph);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.button-wide {
  padding: 14px 31px;
}

.cover__image-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.cover__img_center {
  height: 100%;
  padding: 80px 0 0;
}

.about {
  display: grid;
  grid-template-columns: 0.556fr 1fr;
  column-gap: 126px;
}

.about__image-area {
  padding: 17px 0 0;
}

.about__text-area {
  align-self: center;
  padding: 24px 0 0 0;
}

.about__title {
  padding: 0 0 30px;
}

.h2-header {
  color: var(--clr-text-accent);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: -0.36px;
}

.about__text {
  padding: 0 100px 17px 0;
}

.benefit {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 29px;
  padding-top: 75px;
}

.benefit__activities {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  column-gap: 100px;
}

.benefit__activities-text-area {
  align-self: center;
}

.benefit__activities-title {
  padding: 0 0 22px 0;
}

.benefit__activities-text {
  padding: 0 30px 0 0;
}

.benefit__activities-img {
  width: 384px;
}

.benefit__food {
  display: grid;
  grid-template-columns: 0.74fr 1fr;
}

.benefit__food-img {
  width: 384px;
}

.benefit__food-text-area {
  align-self: center;
}

.benefit__food-title {
  padding: 0 0 24px 0;
}

.benefit__food-text {
  padding: 0 50px 0 0;
}

.gallery {
  position: relative;
  padding: 75px 0 0 0;
}

.gallery__title {
  padding: 0 0 36px 0;
  text-align: center;
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr 0.32fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 3px;
  list-style: none;
}

.active_element {
  grid-row: 1 / 4;
}

.carousel {
  display: flex;
  align-items: center;
  gap: 12px;
}

.gallery__carousel {
  position: absolute;
  bottom: 5%;
  left: 35.4%;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--clr-circle-white);
  cursor: pointer;
}

.circle_orange {
  opacity: 35%;
  background-color: var(--clr-circle-orange);
}

.circle_active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--clr-circle-orange);
}

.reservation {
  padding-top: 73px;
}

.reservation__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__intro-title {
  padding: 0 0 23px 0;
  text-align: center;
}

.reservation__intro-text {
  padding: 0 300px 32px;
  text-align: center;
}

.reservation__button {
  margin: 0 11px 0 0;
}

.reservation__options-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 87px 0 0 0;
  list-style: none;
}

.option-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.option-card__content {
  padding: 0 0 30px 0;
}

.option-card__title {
  padding: 30px 0 16px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}

.option-card__link {
  display: block;
  width: 50%;
  color: var(--clr-read-more-link);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-decoration: none;
  background-image: url(../images/Arrow_Right.svg);
  background-repeat: no-repeat;
  background-position: 110px;
}

.option-card__link:hover {
  border-radius: 4px;
  outline: 2px solid var(--clr-button-fill);
  outline-offset: 4px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 0 0;
}

.reviews__title {
  text-align: center;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 0 0;
}

.review-card__avatar {
  width: max-content;
}

.review-card__text {
  padding: 45px 324px 40px 322px;
  text-align: center;
}

.review-card__name {
  color: var(--clr-text-accent);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.reviews__carousel {
  padding: 25px 0 82px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 0.42fr 0.37fr 0.33fr;
  padding: 120px 120px 120px 120px;
  background-color: var(--clr-footer-background);
}

.footer__logo {
  width: 233px;
  margin: 5px 0 10px 0;
}

.footer__slogan {
  padding: 0 380px 0 0;
}

.footer-heading {
  padding: 0 0 20px 0;
  color: var(--clr-footer-heading);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.16px;
}

.footer-text {
  color: var(--clr-footer-text);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}

.footer__outside-links-list {
  display: flex;
  gap: 10px;
  padding: 35px 0 0 0;
  list-style: none;
}

.link-logo {
  width: 32px;
}

.link-logo {
  width: 44px;
  margin: 2px 0 0 1px;
}

.footer__houses-section-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  border-radius: 6px;
  outline: 2px solid var(--clr-footer-text);
  outline-offset: 2px;
}

.footer__reserve-section-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.address-text {
  line-height: 1.3;
}